<div class="{{theme}}">
	<nav>
		<ol class="breadcrumb--{{modifier}}">
			<li><a href="#" id="" class=" " target="_self" rel="" rel="nofollow">Home</a></li>
			<li><a href="#" id="" class=" " target="_self" rel="" rel="nofollow">Gallery</a></li>
			<li><a href="#" id="" class=" " target="_self" rel="" rel="nofollow">Web</a></li>
			<li class="current"><em>Projects</em></li>
		</ul>
	</nav>
</div><!--/{{theme}}-->
