//'foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'waldo', 'fred', 'plugh', 'xyzzy', 'thud', 'huhu', 'lala', 'keke', 'koko', 'kuku', 'fifi', 'bubu', 'wibble', 'wobble', 'wubble', 'flob', 'toto', 'titi', 'tata', 'tutu', 'truc', 'bidule', 'machin', 'azerty'
.site-branding{
	margin-top: 								0;
	margin-bottom: 								0;
	a{
		color: 					_palette(activetheme,color-a);
	}
}
