#content{
	padding: 21px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 21px;
}

#content:before{
	content: '';
	display: table;
}

#content:after{
	content: '';
	display: table;
	clear: both;
}

.site-content{
	padding: 0;
	article{
		header, 
		.post-thumbnail,
		.entry-content{
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.content-area,
.sidebar{
	width: calc(99.9% * 1/1 - (21px - 21px * 1/1));
}

.content-area:nth-child(1n),
.sidebar:nth-child(1n){
	float: left;
	margin-right: 21px;
	clear: none;
}

.content-area:last-child,
.sidebar:last-child{
	margin-right: 0;
}

.content-area:nth-child(1n),
.sidebar:nth-child(1n){
	margin-right: 0;
	float: right;
}

.content-area:nth-child(1n + 1),
.sidebar:nth-child(1n + 1){
	clear: both;
}


@include MQ(MW) {
	.content-area{
		width: calc(99.9% * 7/10 - (21px - 21px * 7/10));
	}
	.content-area:nth-child(1n){
		float: left;
		margin-right: 21px;
		clear: none;
	}
	.content-area:last-child{
		margin-right: 0;
	}
	.content-area:nth-child(10n){
		margin-right: 0;
		float: right;
	}
	.content-area:nth-child(10n + 1){
		clear: both;
	}
	.sidebar{
		width: calc(99.9% * 3/10 - (21px - 21px * 3/10));
		margin-left: 0;
	}
	.sidebar:nth-child(1n){
		float: left;
		margin-right: 21px;
		clear: none;
	}
	.sidebar:last-child{
		margin-right: 0;
	}
	.sidebar:nth-child(10n){
		margin-right: 0;
		float: right;
	}
	.sidebar:nth-child(10n + 1){
		clear: both;
	}
}
@include MQ(LW) {
	.content-area{
		width: calc(99.9% * 2/3 - (21px - 21px * 2/3));
	}
	.content-area:nth-child(1n){
		float: left;
		margin-right: 21px;
		clear: none;
	}
	.content-area:last-child{
		margin-right: 0;
	}
	.content-area:nth-child(3n){
		margin-right: 0;
		float: right;
	}
	.content-area:nth-child(3n + 1){
		clear: both;
	}
	.sidebar{
		width: calc(99.9% * 1/3 - (21px - 21px * 1/3));
		margin-left: 0;
	}
	.sidebar:nth-child(1n){
		float: left;
		margin-right: 21px;
		clear: none;
	}
	.sidebar:last-child{
		margin-right: 0;
	}
	.sidebar:nth-child(3n){
		margin-right: 0;
		float: right;
	}
	.sidebar:nth-child(3n + 1){
		clear: both;
	}
}
#colophon{
	//lost-utility:edit rgb(255, 150, 25);

	max-width:1280px;

	margin-left:auto;

	margin-right:auto;
	padding: 21px;
}
#colophon:before{
	content:'';
	display:table;
}
#colophon:after{
	content:'';
	display:table;
	clear:both;
}

.site-header{
	padding: 0 21px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 21px;
}

.site-header:before{
	content: '';
	display: table;
}

.site-header:after{
	content: '';
	display: table;
	clear: both;
}

.site-branding,
.site-header-menu,
.menu-toggle{
	margin-top: 21px;
	margin-bottom: 21px;
}

@include MQ(MW) {
	.site-description {
		display: block;
	}
}


