<div class="{{theme}}">
	<div class="{{modifier}}">
		<section class="accordion-toggle-bellow">
			<input type="radio" checked="" name="accordion-1" id="ac-1">
			<label for="ac-1">Accordion Section #1</label>
			<label for="ac-1">Accordion Section #1</label>
			<label for="ac-1">Accordion Section #1</label>
			<div class="accordion-content-small">
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
					est. Mauris placerat eleifend leo. Lorem ipsum reddit sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et reddite magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure reddit in reprehenderit in voluptate velit esse cillum reddite eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
					laborum. </p>
			</div>
		</section>
		<section class="accordion-toggle-bellow">
			<input type="radio" name="accordion-1" id="ac-2">
			<label for="ac-2">Accordion Section #2</label>
			<div class="accordion-content-medium">
				<p>Pellentesque habitant <a href="#">reddit</a> tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
					ultricies mi vitae est. Mauris placerat eleifend leo. Lorem ipsum reddit sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et reddite magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure reddit in reprehenderit in voluptate velit esse cillum reddite eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
					mollit anim id est laborum </p>
			</div>
		</section>
		<section class="accordion-toggle-bellow">
			<input type="radio" name="accordion-1" id="ac-3">
			<label for="ac-3">Accordion Section #3</label>
			<div class="accordion-content-large">
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
					est. Mauris placerat eleifend leo. Lorem ipsum reddit sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et reddite magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure reddit in reprehenderit in voluptate velit esse cillum reddite eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
					laborum. </p>
			</div>
		</section>
		<section class="accordion-toggle-bellow">
			<input type="radio" name="accordion-1" id="ac-4">
			<label for="ac-4">Accordion Section #4</label>
			<div class="accordion-content-large">
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
					est. Mauris placerat eleifend leo. Lorem ipsum reddit sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et reddite magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure reddit in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
					laborum. </p>
			</div>
		</section>
	</div>
</div><!--/{{theme}}-->
