<div class="{{theme}}">
	<header>
		<div>
			<a href="#0"><img src="http://images.grault.com/logo.svg" alt="Logo"></a>
		</div>

		<nav class="delta-main-nav">
			<ul>
				<li><a href="#0">Home</a></li>
				<li><a href="#0">About</a></li>
				<li><a href="#0">Pricing</a></li>
				<li><a href="#0">Gallery</a></li>
				<li><a href="#0">Contact</a></li>
			</ul>
		</nav> <!-- cd-main-nav -->
	</header>
</div><!--/{{theme}}-->
