#primary.content-area
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|The Front Page
			.post-thumbnail
				img(data-src="assets/images/fulls/image-16.jpg" class="" alt="" width="" height="")

			.entry-content
				include ../inc/_#typography.pug