- var pageTitle = "A Front End Framework";

- var siteTitle = "Hotel";
- var siteDescription = "A Front End Framework";

-var siteMetaDescription = "meta(name='description', content='This site description. Short 3 or 4 sentence description of website: included in search engine results < 151 chars')"