h1(id='') (h1)This is the primary heading and there should only be one of these per page
h2(id='') (h2)This is the secondary heading.
h3(id='') (h3)This is the tertiary heading.
h4(id='') (h4)This is the quaternary heading.
h5(id='') (h5)This is the quinary heading.
h6(id='') (h6)This is the senary heading.
p(id='')
	| (p)A small paragraph to 
	em (em)emphasis
	|  and show 
	strong (strong)important
	|  bits.
p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
a(href="#")|This is a link
ul(id='')
	li(id='') (ul)>(li)This is a list item
	li(id='') (ul)>(li)So is this - there could be more
	li(id='')
		| (ul)>(li)Make sure to style list items to:
	ul(id='')
		li(id='') (ul)>(li>)(ul)>(li)Not forgetting child list items
		li(id='') (ul)>(li>)(ul)>(li)Not forgetting child list items
		li(id='') (ul)>(li>)(ul)>(li)Not forgetting child list items
		li(id='') (ul)>(li>)(ul)>(li)Not forgetting child list items
	li(id='') (ul)>(li)A couple more
	li(id='') (ul)>(li)top level list items
p(id='')
	| (p)Don't forget 
	strong(id='') (strong)Ordered lists
	| :
ol(id='')
	li(id='') (ol)>(li)Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
	li(id='')
	| (ol)>(li)Aliquam tincidunt mauris eu risus.
	ol(id='')
		li(id='') (ol)>(li)>(ol)>(li)Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
		li(id='') (ol)>(li)>(ol)>(li)Aliquam tincidunt mauris eu risus.
	li(id='') (ol)>(li)Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
	li(id='')
		| (ol)>(li)Aliquam tincidunt mauris eu risus.
h2(id='')
	| (h2)A sub heading which is not as important as the first, but is quite imporant overall
p(id='')
	| (p)Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
table(id='')
	tr(id='')
		th(id='') (table)>(tr)>(th)Table Heading
		th(id='') (table)>(tr)>(th)Table Heading
	tr(id='')
		td(id='') (table)>(tr)>(td)table data
		td(id='') (table)>(tr)>(td)table data
	tr
		td(id='') (table)>(tr)>(td)table data
		td(id='') (table)>(tr)>(td)table data
	tr
		td(id='') (table)>(tr)>(td)table data
		td(id='') (table)>(tr)>(td)table data
	tr(id='')
		td(id='') (table)>(tr)>(td)table data
		td(id='') (table)>(tr)>(td)table data
h3(id='')
	| (h3)A sub heading which is not as important as the second, but should be used with consideration
p(id='')
	| (p)Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
blockquote(id='')
	p(id='')
		| (blockquote)(p)“Ooh - a blockquote! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.”
h4(id='')
	| (h4)A sub heading which is not as important as the second, but should be used with consideration
p(id='')
	| (p)Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
pre(id='').
h5(id='')
	| (h5)A sub heading which is not as important as the second, but should be used with consideration
p(id='')
	| (p)Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
dl(id='')
	dt(id='') (dl)>(dt)Definition list
		dd(id='')
			| (dl)>(dd)Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			| aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			| commodo consequat.
	dt(id='') (dl)>(dt)Lorem ipsum dolor sit amet
		dd(id='')
			| (dl)>(dd)Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			| aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			| commodo consequat.
h6(id='') (h6)This heading plays a relatively small bit part role, if you use it at all
p(id='')
	| (p)Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
h2|HTML Tags
strong Address Tag
address
	| 1 Infinite Loop
	br
	| Cupertino, CA 95014
	br
	| United States