//'foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'waldo', 'fred', 'plugh', 'xyzzy', 'thud', 'huhu', 'lala', 'keke', 'koko', 'kuku', 'fifi', 'bubu', 'wibble', 'wobble', 'wubble', 'flob', 'toto', 'titi', 'tata', 'tutu', 'truc', 'bidule', 'machin', 'azerty'
.progresscont{
	position: 	fixed;
	bottom: 	0px;
	left: 		0px;
	height: 	2px;
	width: 		100%;
	z-index: 	9999;
}

.progressbar{
	height: 	100%;
	background:_palette(activetheme,color4);
}
