<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/style.css' }}">
    <script src="{{path '/assets/js/libs/app.js'}}"></script>
    <script src="{{path '/assets/js/libs/responsive-elements.js'}}"></script>
    <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
