<div class="{{theme}}">
	<nav role="navigation" class="">
		<ul class="{{modifier}}">
			<li class="pagination__button">
				<a href="#0" class="disabled">Prev</a>
			</li>
			<li>
				<a href="#0" class="current">1</a>
			</li>
			<li>
				<a href="#0">2</a>
			</li>
			<li>
				<a href="#0">3</a>
			</li>
			<li>
				<a href="#0">4</a>
			</li>
			<li>
				<span>...</span>
			</li>
			<li>
				<a href="#0">20</a>
			</li>
			<li class="pagination__button">
				<a href="#0">Next</a>
			</li>
		</ul>
	</nav>
</div><!--/{{theme}}-->
