//- navigation-top.php
	Displays top navigation
	
button#menu-toggle.menu-toggle Menu
#site-header-menu.site-header-menu
	nav#site-navigation.main-navigation(role='navigation', aria-label='Primary Menu')
		.menu-primary-menu-container
			ul#menu-primary-menu.primary-menu
				li#menu-item-19.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-4.current_page_item.menu-item-19
					a(href='index.html') Home
				li#menu-item-18.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-18
					a(href='/about.html') About
				li#menu-item-18.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-18
					a(href='/services.html') Services
				li#menu-item-18.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-18
					a(href='/testimonials.html') Testimonials
				li#menu-item-18.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-18
					a(href='/blog.html') Blog
				li#menu-item-17.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-17
					a(href='/elements/') Elements
					ul.sub-menu
						li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-26
							a(href='/elements/sub-elements/') Sub Elements
							| &#x9;
							ul.sub-menu
								li#menu-item-27.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-27
									a(href='/elements/sub-elements/sub-sub-elements/') Sub Sub Elements
				li#menu-item-16.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-16
					a(href='/contact.html') Contact
